[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "plugins/agkozak-zsh-prompt"]
	path = plugins/agkozak-zsh-prompt
	url = https://github.com/agkozak/agkozak-zsh-prompt.git
[submodule "plugins/zsh-window-title"]
	path = plugins/zsh-window-title
	url = https://github.com/olets/zsh-window-title.git
